@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aqua;
}

main {
    background-color: white;
    width: 1400px;
    height: 2000px;
    margin: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.408);
    color: rgb(0, 0, 0);
}

#inicio > h2 {
    padding: 8px;
    text-indent: 1em;
    color: #038C3E;
    font-family: idroid, Helvetica, sans-serif;
}

#inicio > p {
    text-indent: 2em;
    text-align: justify;
    padding: 20px;

}

#inicio > h3 {
    background-color: #038c3e3c;
    text-indent: 2em;
    font-family: idroid, Helvetica, sans-serif;
    color: #038C3E
}

header {
    background-image: linear-gradient(to bottom, #025951, #02735E);
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

header h1,
header h2 { 
    padding: 4px;
    color: rgb(255, 255, 255);
    text-align: center;
}

nav {
    background-color: #038C3E;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.444);
}

nav a {
text-decoration: none;
color: white;
margin-right: 10px;
border-radius: 2px;
padding: 6px;
}

nav a:hover {
    background-color: #0CF25D;
}

.video {
    margin: 0px;
}

.final h2 {
    background-color: pink;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}

.extras p {
    text-indent: 2em;
}

.extras p::before {
    content: '⇒';
}

.explicacao abbr {
    display: block;
    background-color: #025951;
}