@charset "UTF-8";

header {
    padding: 10px;
    margin: 0px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288)
}
footer {
    background-color: black;
    color: white
}