@charset "UTF-8";

.primeiradiv {
    background-color: blue;
    height: 400px;
    width: 200;
    padding-left: 20%;
    margin: 20px;
    padding-top: 40px;
    outline: 10px groove white}
.segundadiv {
    background-color: brown;
    height: 200;
    width: 200;
}
.terceiradiv {
    background-color: chartreuse;
    height: 200;
    width: 200;
}