@charset "UTF-8";

header {
    background-color: green;
    margin: 0;
    text-align: center;
    padding: 4px;
    color: white;
}

h1 {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: aquamarine;
}

nav {
    background-color: darkgreen;
    text-align: center;
}

nav > a  {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

#principal {
    background-color: white;
    text-indent: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    text-align: justify;
}

#principal > p {
    padding-left: 1px;
    padding-top: 1px;
    margin: 0px;
    text-align: justify;
}

.video {
    background-color: blueviolet;
    padding: 1%;
    margin: auto;
}

nav > a:hover {
    background-color: greenyellow;
    border-radius: 3px;
}

main {
    margin: auto;
    width: 1200px;
    
}